import pandas lib

In [113]:
import pandas as pd

import dataframe ,or we can also a dataframe by python dist

In [114]:
df = pd.read_csv("D:\DataScience\Data Manipulation\seattle-weather.csv")
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

to known the rows and columns or shape then use the below syntax

In [115]:
rows,columns =  df.shape

to print the head part of the dataset the use df.head
or you want to print some specific amount or part of the dataset the give some value under the bracket
df.head(value)

In [116]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

to print the buttom value then use df.tail

In [117]:
df.tail(1)

            date  precipitation  temp_max  temp_min  wind weather
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

if u want to print the middle value then use the indexing system or slicing

In [118]:
df[3:10]

         date  precipitation  temp_max  temp_min  wind weather
3  2012-01-04           20.3      12.2       5.6   4.7    rain
4  2012-01-05            1.3       8.9       2.8   6.1    rain
5  2012-01-06            2.5       4.4       2.2   2.2    rain
6  2012-01-07            0.0       7.2       2.8   2.3    rain
7  2012-01-08            0.0      10.0       2.8   2.0     sun
8  2012-01-09            4.3       9.4       5.0   3.4    rain
9  2012-01-10            1.0       6.1       0.6   3.4    rain

to known the column value what are the value are in the datasets , or u want to known the value of of one index then use df.column,df.anyvalue you want to known
also we can that df[](this is also slicing)

In [119]:
df.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [120]:
df.temp_max

0       12.8
1       10.6
2       11.7
3       12.2
4        8.9
        ...
1456     4.4
1457     5.0
1458     7.2
1459     5.6
1460     5.6
Name: temp_max, Length: 1461, dtype: float64

In [121]:
df.precipitation

0        0.0
1       10.9
2        0.8
3       20.3
4        1.3
        ...
1456     8.6
1457     1.5
1458     0.0
1459     0.0
1460     0.0
Name: precipitation, Length: 1461, dtype: float64

In [122]:
df['wind']

0       4.7
1       4.5
2       2.3
3       4.7
4       6.1
       ...
1456    2.9
1457    1.3
1458    2.6
1459    3.4
1460    3.5
Name: wind, Length: 1461, dtype: float64

what is the type of dataframe ?

In [123]:
type(df['temp_max'])

pandas.core.series.Series

to print the multiple column together we can print it like python dict df[['','']]

In [124]:
df[['temp_max','temp_min']]

      temp_max  temp_min
0         12.8       5.0
1         10.6       2.8
2         11.7       7.2
3         12.2       5.6
4          8.9       2.8
...        ...       ...
1456       4.4       1.7
1457       5.0       1.7
1458       7.2       0.6
1459       5.6      -1.0
1460       5.6      -2.1

[1461 rows x 2 columns]

to find out the max and min from all the data then use the max() or min() func we can also priint the standard deviation

In [125]:
df['temp_max'].max()

35.6

In [126]:

df['temp_max'].min()

-1.6

In [127]:
df['temp_min'].std()

5.023004179961266

to print the static or wawnt to know thw statical value then use df.describe()to print the static or wawnt to know thw statical value then use df.describe()

In [128]:
df.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

conditional selecting iin the dataset

In [129]:
df[df.temp_max>=34]

            date  precipitation  temp_max  temp_min  wind weather
228   2012-08-16            0.0      34.4      18.3   2.8     sun
912   2014-07-01            0.0      34.4      15.6   3.5     sun
953   2014-08-11            0.5      35.6      17.8   2.6    rain
1295  2015-07-19            0.0      35.0      17.2   3.3     sun
1306  2015-07-30            0.0      34.4      17.2   3.5     sun
1307  2015-07-31            0.0      34.4      17.8   2.6     sun

In [130]:
df['date'][df.temp_max==df['temp_max'].max()]#maxium temp  by condition

953    2014-08-11
Name: date, dtype: object

if wanna know both the temp and the date the we can use the below code

In [131]:
df[['date','temp_max']][df.temp_max==df['temp_max'].max()]

           date  temp_max
953  2014-08-11      35.6

to know the index range,

In [132]:
df.index

RangeIndex(start=0, stop=1461, step=1)

to set the index some another value

In [133]:
df.set_index('date')

            precipitation  temp_max  temp_min  wind  weather
date
2012-01-01            0.0      12.8       5.0   4.7  drizzle
2012-01-02           10.9      10.6       2.8   4.5     rain
2012-01-03            0.8      11.7       7.2   2.3     rain
2012-01-04           20.3      12.2       5.6   4.7     rain
2012-01-05            1.3       8.9       2.8   6.1     rain
...                   ...       ...       ...   ...      ...
2015-12-27            8.6       4.4       1.7   2.9     rain
2015-12-28            1.5       5.0       1.7   1.3     rain
2015-12-29            0.0       7.2       0.6   2.6      fog
2015-12-30            0.0       5.6      -1.0   3.4      sun
2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

if u want to replace the orignal dataset from the new dataset that had created by setting the index , 
we can do this and aur revert the process and get back the og dataset

In [134]:
df.set_index('date', inplace=True)

In [135]:
df

            precipitation  temp_max  temp_min  wind  weather
date
2012-01-01            0.0      12.8       5.0   4.7  drizzle
2012-01-02           10.9      10.6       2.8   4.5     rain
2012-01-03            0.8      11.7       7.2   2.3     rain
2012-01-04           20.3      12.2       5.6   4.7     rain
2012-01-05            1.3       8.9       2.8   6.1     rain
...                   ...       ...       ...   ...      ...
2015-12-27            8.6       4.4       1.7   2.9     rain
2015-12-28            1.5       5.0       1.7   1.3     rain
2015-12-29            0.0       7.2       0.6   2.6      fog
2015-12-30            0.0       5.6      -1.0   3.4      sun
2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

to know the value with the specific date index

In [137]:
df.loc['2012-01-02']

precipitation    10.9
temp_max         10.6
temp_min          2.8
wind              4.5
weather          rain
Name: 2012-01-02, dtype: object